VITE_GOOGLE_SCRIPT_API_URL=https://script.google.com/macros/s/AKfycbx0JxR9o_pWOOdfmbX4XZjrLgtkVsmSis3QlWunqZSgvqMoVzIqDnJuiER9tBrPZydd/exec
VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
